body, html {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

header {
    background-color: black; 
    color: #fff; 
    text-align: center;

}

nav ul {
    list-style-type: none; 
    padding: 0;
    margin: 0;
    border-top: 3px solid;
    border-bottom: 3px solid;
    border-color: black;
    display: flex; 
    justify-content: center; 

}

nav ul li {
    margin: 0 10px; /* Espacio entre elementos */
    display: inline;
    overflow: hidden;
    display: flex;
}

nav ul li a {
    display: inline; 
    padding: 8% 1%; 
    color: #fff; 
    text-decoration: none; 
    text-align: center;
    font-size: 22px;
}

nav ul li a:hover {
    background-color: rgb(255, 255, 255);
    color: black; 
}

.logo{
    max-width: 300px;
    height: auto;
    padding-left: 40px;
    margin-top: 20px;
}

.elementHeader{
    width: 250px;
    height: 32px;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 100%;
    border-bottom: 10px black solid;
    justify-content: space-around;
    align-items: center;
}

.main .column{
    height: 80%;
    width: 45%;
    border: 5px black solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.column .element-column{
    height: 16%;
    width: 90%;
    border: 3px black solid;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.element-column .text-element{
    height: 50%;
    width: 40%;
    border: 1px black solid;
    display: flex;
    align-items: center;
    flex-direction: row;
    font-weight: 550;
}

.element-column .text-respuesta{
    height: 50%;
    width: 50%;
    padding-left: 10px ;
    padding-right: 10px;
    border: 1px black solid;
    display: flex;
    align-items: center;
    flex-direction: row;
    border-radius: 10px;
}

p{
    font-size: 18px;
    overflow: hidden;
}

@media screen and (max-width: 1050px) {

    .main{
        flex-direction: column;
        height: 150vh;
    }

    nav ul li a {
        /* Espaciado de enlaces */
       font-size: 18px; /* Reducir tamaño de fuente */
    }

    .main .column{
        padding-top: 20px;
        height: 80%;
        width: 75%;
        border: 5px black solid;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    
    .column .element-column{
        height: 16%;
        width: 90%;
        border: 3px black solid;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
    
    .element-column .text-element{
        height: 50%;
        width: 30%;
        border: 1px black solid;
        display: flex;
        align-items: center;
        flex-direction: row;
        font-weight: 550;
    }
    
    .element-column .text-respuesta{
        height: 50%;
        width: 60%;
        padding-left: 10px ;
        padding-right: 10px;
        border: 1px black solid;
        display: flex;
        align-items: center;
        flex-direction: row;
        border-radius: 10px;
    }
    
    p{
        font-size: 18px;
        overflow: hidden;
    }
}

@media screen and (max-width: 768px) {

    nav ul li a {
        padding: 10px 20px; /* Espaciado de enlaces */
        font-size: 16px; /* Reducir tamaño de fuente */
    }
}
