body, html {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

header {
    background-color: black; 
    color: #fff; 
    text-align: center;

}

nav ul {
    list-style-type: none; 
    padding: 0;
    margin: 0;
    border-top: 3px solid;
    border-bottom: 3px solid;
    border-color: black;
    display: flex; 
    justify-content: center; 

}

nav ul li {
    margin: 0 10px; /* Espacio entre elementos */
    display: inline;
    overflow: hidden;
    display: flex;
}

nav ul li a {
    display: inline; 
    padding: 8% 1%; 
    color: #fff; 
    text-decoration: none; 
    text-align: center;
    font-size: 22px;
}

nav ul li a:hover {
    background-color: rgb(255, 255, 255);
    color: black; 
}

.prim{
    display: flex;
    justify-content: space-between;      
}

.logo{
    max-width: 300px;
    height: auto;
    padding-left: 40px;
    margin-top: 20px;
}

.cerrar-sesion{
    display: inline-block;   
}

.cerrar-sesion a{
    padding: 20px 30px;
    margin-top: 30px;
    margin-right: 60px;
    display: flex;
    background-color: rgb(0, 0, 0);
    color: white;
    align-items: center;
    justify-content: center;
    text-decoration:none;
    border-radius: 10px;
}

.elementHeader{
    width: 250px;
    height: 32px;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 100%;
    border-bottom: 0px black solid;
    justify-content: space-around;
    align-items: center;
}

.main .column{
    height: 80%;
    width: 45%;
    border: 0px black solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 18px;
}

.column .element-column{
    height: 16%;
    width: 90%;
    border: 0px solid;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.element-column .text-element{
    height: 50%;
    width: 40%;
    padding-right: 15px;
    border: 0px solid;
    display: flex;
    justify-content: flex-end;
    font-weight: 550;
    font-size: 22px;
    background-color: black;
    border-radius: 10px;
    align-items: center;
    color: white;
}

.element-column .text-respuesta{
    height: 50%;
    width: 50%;
    padding-left: 10px ;
    padding-right: 10px;
    border: 1px black solid;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 10px;
}

.text-element p{
    font-size: 17px;
}

p{
    font-size: 18px;
    overflow: hidden;
}

.contacto{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.contacto .block-contacto{
    height: 40%;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.contacto .block-button{
    height: 30%;
    width: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.block-button .button1{
    height: 50%;
    width: 90%; 
    border: 2px black solid;
    color: white;
    background-color: black;
    cursor: pointer;
    font-size: 20px; 
    border-radius: 20px;
}
.button1:hover {
    background-color: #0056b3;
}


.block-contacto .element-block{
    height: 30%;
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.element-block .text-block{
    padding-left: 10px ;
    height: 60%;
    width: 35%;
    display: flex;
    align-items: center;
    flex-direction: row;
    font-weight: 550;
    background-color: black;
    border-radius: 10px;
    color: white;
    justify-content: center;
}

.element-block .respuesta-block{
    height: 50%;
    width: 55%;
    border: 1px solid;
    border-radius: 2px;
    padding-left: 10px ;
    padding-right: 10px;
    display: flex;
    align-items: center;
    flex-direction: row;
    border-radius: 10px;
}




@media screen and (max-width: 1050px) {

    .main{
        flex-direction: column;
        height: 150vh;
    }

    nav ul li a {
        /* Espaciado de enlaces */
       font-size: 18px; /* Reducir tamaño de fuente */
    }

    .main .column{
        padding-top: 20px;
        height: 80%;
        width: 75%;
        border: 5px black solid;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    
    .column .element-column{
        height: 16%;
        width: 90%;
        border: 3px black solid;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
    
    .element-column .text-element{
        height: 50%;
        width: 30%;
        border: 1px black solid;
        display: flex;
        align-items: center;
        flex-direction: row;
        font-weight: 550;
    }
    
    .element-column .text-respuesta{
        height: 50%;
        width: 60%;
        padding-left: 10px ;
        padding-right: 10px;
        border: 1px black solid;
        display: flex;
        align-items: center;
        flex-direction: row;
        border-radius: 10px;
    }
    
    p{
        font-size: 18px;
        overflow: hidden;
    }
    
    .contacto .block-contacto{
        height: 40%;
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    
    .contacto .block-button{
        height: 30%;
        width: 220px;
        display: flex;
        flex-direction: column;
        align-items: center;
    
    }
    
    .block-button .button1{
        height: 50%;
        width: 90%; 
        border: 2px black solid;
        color: white;
        background-color: black;
        cursor: pointer;
        font-size: 20px; 
    }
    .button1:hover {
        background-color: #0056b3;
    }
    
    
    .block-contacto .element-block{
        height: 30%;
        width: 90%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
    
    .element-block .text-block{
        padding-left: 10px ;
        height: 60%;
        width: 35%;
        display: flex;
        align-items: center;
        flex-direction: row;
        font-weight: 550;
    }
    
    .element-block .respuesta-block{
        height: 50%;
        width: 55%;
        border: 1px solid;
        border-radius: 2px;
        padding-left: 10px ;
        padding-right: 10px;
        display: flex;
        align-items: center;
        flex-direction: row;
        border-radius: 10px;
    }

    .element-block p{
        font-size: 16px;
    }

}

@media screen and (max-width: 768px) {

    nav ul li a {
        padding: 10px 20px; /* Espaciado de enlaces */
        font-size: 16px; /* Reducir tamaño de fuente */
    }

    .element-block p{
        font-size: 13px;
    }
}

